<mat-card>
  <mat-card-header>
    <mat-card-title>{{titre| uppercase}}</mat-card-title>
    <mat-card-subtitle>{{soustitre}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="table" alt="photo de henri joubert depuis unsplash">
  <mat-card-content>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      Voluptas mollitia quia reprehenderit fuga totam possimus 
      porro nostrum, omnis qui ipsum, quas obcaecati perspiciatis 
      officiis maxime praesentium cumque consequatur quisquam maiores!
      </p>
    </mat-card-content>
</mat-card>